.modal-overlay {
    transition: 0.5s ease;
}

.modal {
    transition: 0.5s ease; 
}

.visible {
    opacity: 1;
    visibility: visible;
}

.invisible {
    opacity: 0;
    visibility: hidden; /* You can keep this */
    pointer-events: none; 
}
